{{ attach_library('quanthub_core/qh_core_power_bi_renderer') }}

<div
  data-report-id="{{ report_id }}"
  data-selector='pbi-{{ field_name }}-{{ embed_id }}'
  data-token-expiration='{{ token_expiration }}'
  data-extradatasets='{{ extra_datasets }}'
  data-report-page='{{ report_page }}'
  data-report-language='{{ report_language }}'
  data-embed-type='{{ embed_type }}'
  data-report-visual='{{ report_visual }}'
  data-embed-url='{{ embed_url }}'
  data-token='{{ token }}'
  data-report-width='{{ report_width }}'
  data-report-height='{{ report_height }}'
  data-report-title='{{ report_title }}'
>
  <div id="pbi-{{ field_name }}-{{ embed_id }}"></div>
</div>
