<div id="pbi-{{ field_name }}-{{ embed_id }}"></div>
<script>
(function ($) {
  const models = window["powerbi-client"].models;

  const context = {
    'reportId': "{{ report_id }}",
    'selector': 'pbi-{{ field_name }}-{{ embed_id }}',
    'tokenExpiration': "{{ token_expiration }}",
    'extraDatasets': "{{ extra_datasets }}"
  };

  const pageName = "{{ report_page }}";

  let settings = {
    filterPaneEnabled: false
  };
  if (pageName) {
    settings = {
      filterPaneEnabled: false,
      panes: {
        pageNavigation: {
          visible: false
        }
      }
    };
  }

  context.report = powerbi.embed($(`#${context.selector}`).get(0), {
    type: "{{ embed_type }}",
    id: context.reportId,
    pageName: pageName,
    visualName: "{{ report_visual }}",
    embedUrl: "{{ embed_url }}",
    tokenType: models.TokenType.Embed,
    permissions: models.Permissions.All,
    accessToken: "{{ token }}",
    settings: settings
  });

  window.addEventListener('DOMContentLoaded', () => {
    powerbi_embed_customizeReport($, context, {{ report_width }}, {{ report_height }}, '{{ report_title }}');
  });
})(jQuery);
</script>
