{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div class="notification-container">
{% block messages %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'alert',
      'alert-' ~ type,
      type == 'error' ? 'alert-danger',
      type == 'status' ? 'alert-success',
      'alert-dismissible',
      'fade',
      'show'
    ]
  %}
    <div class="alert__icon"></div>
    
    <div class="alert__content">
  <div aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('aria-label') }} role="alert">
    {% if status_headings[type] %}
      <div class="notification-container__title">{{ status_headings[type] }}</div>
    {% endif %}
    {% if messages|length > 1 %}
    <div class="notification-container__text">
      <ul class="messages__list">
        {% for message in messages %}
          <li class="messages__item">{{ message }}</li>
        {% endfor %}
      </ul>
      </div>
    {% else %}
      {{ messages|first }}
    {% endif %}
    </div>
    {% if not attributes.hasClass('alert-webform') %}
    <button type="button" class="alert__button btn-close flex items-top btn-close" data-bs-dismiss="alert" aria-label="Close">
    
    </button>
    {% endif %}
  </div>
  {# Remove type specific classes. #}
  {% set attributes = attributes.removeClass(classes) %}
{% endfor %}
{% endblock messages %}
</div>