<div class="flex gap-2 items-start mb-2 xs:flex-col node__title-info">
	<span class="indicator indicator--indicator">
		<span class="indicator--icon"></span>
		{{ indicator_bundle_label }}
	</span>

</div>
<div class="node__content">
	{% if indicator_description is not null %}
		<p>{{ indicator_description }}</p>
	{% endif %}
	<h2>
		<p class="field--name-title">
			{{ link(indicator_title, indicator_uri, create_attribute({'class': ['indicator-title', 'indicator-link']})) }}
		</p>
	</h2>
	<div class="field--name-lable">
		{{ indicator_dataset_bundle_label }}:
		{{ indicator_dataset_link }}
	</div>
	{% if indicator_topics is not empty %}
		<div class="field--name-field-topics">
			{% for item in indicator_topics %}
				<span class="field__item">
					{{ item }}
				</span>
			{% endfor %}
		</div>
	{% endif %}
	<div
    class="download_button_id mr-2 action-block"
    data-btn-class="secondary-button"
    data-urn="{{ indicator_dataset_urn }}"
	  data-parameter="{{ indicator_parameter }}"
    data-title="{{ indicator_title }}"
	  data-value="{{ indicator_data_value }}"
	  data-type="INDICATOR"
  ></div>

</div>
